In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv', parse_dates=['release_date'], dayfirst=False)
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
656,tt0430922,28000000,92380927,Role Models,Seann William Scott|Paul Rudd|Elizabeth Banks|...,David Wain,They're about to get more than they plea-barga...,Two salesmen trash a company truck on an energ...,99,Comedy,Universal Pictures|Internationale Filmprodukti...,2008-02-03,6.3,2008
1237,tt2387559,26000000,51164106,Delivery Man,Vince Vaughn|Cobie Smulders|Chris Pratt|Britt ...,Ken Scott,You're never quite ready for what life delivers.,An affable underachiever finds out he's father...,105,Comedy,DreamWorks SKG|Touchstone Pictures,2013-10-10,6.1,2013
1256,tt1517260,44000000,63327201,The Host,Saoirse Ronan|Diane Kruger|Jake Abel|William H...,Andrew Niccol,You will be one of us,A parasitic alien soul is injected into the bo...,125,Action|Adventure|Romance|Science Fiction|Thriller,Nick Wechsler Productions|Open Road Films|Silv...,2013-03-22,6.0,2013
691,tt0483607,30000000,22211426,Doomsday,Rhona Mitra|Bob Hoskins|Malcolm McDowell|Alexa...,Neil Marshall,Mankind has an expiration date.,A lethal virus spreads throughout the British ...,105,Action|Thriller|Science Fiction,Rogue Pictures|Intrepid Pictures|Scion Films|M...,2008-03-14,5.8,2008
1182,tt1951264,130000000,847423452,The Hunger Games: Catching Fire,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,Every revolution begins with a spark.,Katniss Everdeen has returned home safe after ...,146,Science Fiction|Thriller|Action|Adventure,Lionsgate|Color Force,2013-11-15,7.4,2013

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(8)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...already done above
data['profit']=data['revenue']-data['budget']#создадим колонку с размером прибыли

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data.iloc[data.budget.idxmax()]['original_title']+' ('+data.iloc[data.budget.idxmax()].imdb_id +')'

ВАРИАНТ 2

In [8]:
data.sort_values(by='budget', ascending=False).head(1).original_title.iloc[0]# можно добавлять разные варианты решения

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [10]:
task=data['runtime'] == data['runtime'].max() #условие отбора
s1=data[task]['original_title']
s2=data[task]['imdb_id']
answers['2'] = '{} ({})'.format(s1.iloc[0],  s2.iloc[0])

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
task=data['runtime']==data['runtime'].min() #условие отбора
answers['3']='{} ({})'.format(data[task].original_title.iloc[0], data[task].imdb_id.iloc[0])

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '109.658549' #ответ из describe()

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = data['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# лучше код получения столбца profit вынести в Предобработку что в начале (так и сделано)
answers['6'] = data.iloc[data.profit.idxmax()]['original_title']+' ('+data.iloc[data.profit.idxmax()]['imdb_id']+')'

# 7. Какой фильм самый убыточный?

In [15]:
answers['7'] = data.iloc[data.profit.idxmin()].original_title +' ('+ data.iloc[data.profit.idxmin()].imdb_id+')'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
answers['8'] = data[data['revenue'] > data['budget']]['original_title'].count()

ВАРИАНТ 2

In [17]:
answers['8'] = data.query('profit>0').shape[0]

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
data.query('release_year == 2008').sort_values(by = 'revenue', ascending = False).iloc[0][['original_title','imdb_id']]

original_title    The Dark Knight
imdb_id                 tt0468569
Name: 599, dtype: object

ВАРИАНТ 2

In [19]:
task=data.revenue == data.query('release_year == 2008').revenue.max() #условие отбора
answers['9'] = '{} ({})'.format(data[task].original_title.iloc[0], data[task].imdb_id.iloc[0])

In [ ]:
ВАРИАНТ 3

In [20]:
data.query('release_year == 2008').query('revenue==revenue.max()')[['original_title','imdb_id']]

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [21]:
task=data.profit == data.query('2012<=release_year<=2014').profit.min()#условие отбора
answers['10'] = '{} ({})'.format(data[task].original_title.iloc[0], data[task].imdb_id.iloc[0])

# 11. Какого жанра фильмов больше всего?

In [22]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_counter = Counter()
for genres in data['genres']:
    for genre in genres.split('|'):
        genres_counter[genre] += 1 
answers['11'] = genres_counter.most_common(1)
answers['11']

[('Drama', 782)]

ВАРИАНТ 2

In [23]:
df1 = data[['genres', 'original_title']].copy()# копируем, чтобы не изменять data
df1.genres = df1.genres.apply(lambda x: x.split('|'))#разделим названия студий
df1 = df1.explode('genres')
df1['genres'].value_counts().head(1)

Drama    782
Name: genres, dtype: int64

In [ ]:
ВАРИАНТ 3 (посказано экспертом)

In [24]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [25]:
df1 =data[data['profit'] > 0][['genres']]
answers['12'] = Counter(df1.genres.str.split('|').sum()).most_common(1)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [26]:
df1 = data[['revenue', 'director']].copy()
df1['director'] = df1['director'].str.split('|')
df1 = df1.explode('director')
df1 = df1.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
answers['13'] = df1.index[0] + ' - ' + str(df1.iloc[0])
answers['13']

'Peter Jackson - 6490593685'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [27]:
df1 = data[data['genres'].str.contains('Action')]
answers['14'] = Counter(df1['director'].str.split('|').sum()).most_common(1)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [28]:
df1 = data[data['release_year'] == 2012].copy()
df1['cast'] = df1['cast'].str.split('|')
df1 = df1.explode('cast')
df1 = df1.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
answers['15'] = df1.index[0] + ' - ' + str(df1.iloc[0])

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [29]:
df1 = data[data['budget'] > data['budget'].mean()]
answers['16'] = Counter(df1['cast'].str.split('|').sum()).most_common(1)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [30]:
df1 = data[data['cast'].str.contains('Nicolas Cage')]
answers['17'] = Counter(df1['genres'].str.split('|').sum()).most_common(1)

# 18. Самый убыточный фильм от Paramount Pictures

In [31]:
df1 = data[data['production_companies'].str.contains('Paramount Pictures')]
answers['18'] = df1[df1['profit'] == df1['profit'].min()]['original_title'].iloc[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [32]:
df1 = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
answers['19'] = df1.index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [33]:
answers['20'] = data[data['production_companies'].str.contains('Warner Bros', na=False)]\
              .groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [34]:
answers['21'] = data.release_date.dt.month.value_counts().index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [35]:
df1 = data.copy()                                            # копируем, чтобы не изменять data
df1['month'] = pd.DatetimeIndex(df1['release_date']).month   #создадим колонку с месяцами
answers['22'] = df1.query('month in [6, 7, 8]').original_title.nunique()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [36]:
df1 = data.copy()                                          # копируем, чтобы не изменять data
df1['month'] = pd.DatetimeIndex(df1['release_date']).month # создаем колонку с месяцами
answers['23'] = Counter(df1.query('month in [12, 1, 2]')\
                        ['director'].str.split('|').sum()).most_common(1)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [37]:
df1 = data.copy()                                                      # копируем, чтобы не изменять data
df1['title_len'] = df1['original_title'].str.len()                      #создадим колонку с длинной названий фильмов
df1['production_companies'] = df1['production_companies'].str.split('|')  #разделим названия студий
df1 = df1.explode('production_companies')
s1 = df1.groupby(['production_companies'])['title_len'].sum()/df1.groupby(['production_companies'])['title_len'].count()  
           #таблица  с частным от деления суммы длин названий  фильмов на число фильмов
answers['24'] = s1[s1 == s1.max()].index[0]                #находим максимальное, и берем его индекс (название студии)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [38]:
df1 = data.copy()
df1['overview_len'] = df1['overview'].str.len()                        #создадим колонку с длинной описаний
df1['production_companies'] = df1['production_companies'].str.split('|') #разделим названия студий 
df1 = df1.explode('production_companies')
s1 = df1.groupby(['production_companies'])['overview_len'].sum()/df1.groupby(['production_companies'])['overview_len'].count()             #от деления суммы длин названий фильмов на число фильмов
answers['25'] = s1[s1 == s1.max()].index[0]                                 #находим максимальное, и берем его индекс (название студии)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [39]:
one_percent = data['original_title'].count()//100 # 1% из числа фильмов
data.nlargest(one_percent, ['vote_average'])[['original_title', 'vote_average']] #наибольшие по рейтингу числом 1%

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
155                        The Theory of Everything           7.8
177                          The Fault in Our Stars           7.8

ВАРИАНТ 2 c np.percentile()

In [40]:
answers['26'] = data[data.vote_average > np.percentile(data.vote_average, 99)][['original_title', 'vote_average']]\
.sort_values(by='vote_average', ascending=False).set_index('original_title')

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [41]:
df1 = data[['original_title','cast']].copy() #берем 2 нужные колонки
df1.cast=df1.cast.str.split('|')             #разделяем имена актеров

In [43]:
df1['cast_combinatoin']=df1['cast'].apply(lambda x: list(itertools.permutations(x, 2)))
# создали столбец со всевозможными  попарными комбинациями  имен актеров (будут комбинации как (А, Б) так и (Б, А))
cast_list=df1['cast_combinatoin'].sum() #создали единый список попарных кортежей

In [44]:
answers['27'] = Counter(cast_list).most_common(10) #передадим список  в счетчик и выведем 10 наибольших значений

ВАРИАНТ 2

# Submission

In [45]:
# в конце можно посмотреть свои ответы к каждому вопросу

answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.658549',
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': [('Drama', 782)],
 '12': [('Drama', 560)],
 '13': 'Peter Jackson - 6490593685',
 '14': [('Robert Rodriguez', 9)],
 '15': 'Chris Hemsworth - 2027450773',
 '16': [('Matt Damon', 18)],
 '17': [('Action', 17)],
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 449,
 '23': [('Peter Jackson', 7)],
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26':                                                vote_average
 original_title
 The Dark Knight                                         8.1
 Inside Out                                              8.0
 Room                                                    8.0
 Interstellar                                            8.0
 The Imitation Game                                      8.0
 Guardians of the Galaxy                                 7.9
 Gone Girl                                               7.9
 The Grand Budapest Hotel                                7.9
 Inception                                               7.9
 The Pianist                                             7.9
 The Lord of the Rings: The Return of the King           7.9
 The Wolf of Wall Street                                 7.9
 12 Years a Slave                                        7.9
 Memento                                                 7.9,
 '27': [(('Daniel Radcliffe', 'Rupert Grint'), 8),
  (('Daniel Radcliffe', 'Emma Watson'), 8),
  (('Rupert Grint', 'Daniel Radcliffe'), 8),
  (('Rupert Grint', 'Emma Watson'), 8),
  (('Emma Watson', 'Daniel Radcliffe'), 8),
  (('Emma Watson', 'Rupert Grint'), 8),
  (('Ben Stiller', 'Owen Wilson'), 6),
  (('Owen Wilson', 'Ben Stiller'), 6),
  (('Johnny Depp', 'Helena Bonham Carter'), 6),
  (('Helena Bonham Carter', 'Johnny Depp'), 6)]}

In [46]:
# и убедиться что ни чего не пропустил)
len(answers)

27